@font-face {
    font-family: roboto;
    src: url(../font/Roboto-Medium.ttf);
}

@font-face {
    font-family: allerta;
    src: url(../font/allerta_medium.otf);
}

.headerContainer {
    position: relative;
    width: 100%;
    height: 6rem;
    background-color: #0a1426;
    display: inline-flex;
    flex-direction: row;
    column-gap: 14rem;
    justify-content: center;
    align-items: center;
}

.logoImg {
    width: 10rem;
    height: 4rem;
}

.headerOptionsDiv {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 5rem;
}

.option {
    color: #ffff;
    transition: color 0.2s;
    cursor: pointer;
    font-family: roboto;

}

.option:hover {
    color: #26c492;
}

.headerBtnDiv {
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

.loginBtn {
    background-color: #26c492;
    height: 3rem;
    transition: color 0.2s, background-color 0.2s;
    font-family: roboto;
}

.loginBtn:hover {
    background-color: #ffff;
    color: #0a1426;
}

.signinBtn {
    background-color: #ffff;
    color: #0a1426;
    height: 3rem;
    transition: color 0.2s, background-color 0.2s;
    font-family: roboto;
}

.signinBtn:hover {
    background-color: #26c492;
    color: #ffff;
}
.noneBtn{
    display: none;
}
.blockBtn{
    display: block;
}
.blockIcon{
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    color: #ffff;
    transition: color 0.2s;
}
.blockIcon:hover{
    color: #26c492;
}
.noneIcon{
    display: none;
}
.headerResponsiveDiv {
    display: none;
}

.asv{
    color: white;
}
a {
    text-decoration-line: none;
}
.hamburger {
    cursor: pointer;
}

.hamburger input {
    display: none;
}

.hamburger svg {
    /* The size of the SVG defines the overall size */
    height: 3em;
    /* Define the transition for transforming the SVG */
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
    fill: none;
    stroke: white;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    /* Define the transition for transforming the Stroke */
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
    stroke-dasharray: 12 63;
}

.hamburger input:checked+svg {
    transform: rotate(-45deg);
}

.hamburger input:checked+svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
}

.responsiveMenuDiv{
    display: none;
    width: 100%;
    background-color: #26c492;
    top: 6rem;
    position: absolute;
}
.responsiveMenuList{
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}
.responsiveOption{
    list-style-type: none;
    font-family: roboto;
    color: #ffff;
    width: 100%;
    font-size: 1.1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    border-bottom: 1px solid #0a1426;
}
.responsiveOptionL{
    list-style-type: none;
    font-family: roboto;
    color: #ffff;
    width: 100%;
    font-size: 1.1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    border-bottom: 1px solid #0a1426;
}
.responsiveOptionS{
    list-style-type: none;
    font-family: roboto;
    color: #ffff;
    width: 100%;
    font-size: 1.1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    border-bottom: 1px solid #0a1426;
}





a {
    color: black;
    text-decoration: none;
}

.dashboardContainer {
    max-width: 0;
    min-width: 0;
    z-index: 1;
    position: fixed;
    list-style-type: none;
    overflow: hidden;
    transition: min-width 0.3s ease-out;
    top: 10rem;
    left: 3rem;
    padding-top: 2rem;
    background-color: #DCF6F3;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.dashboardContainer.open{
    min-width: 25rem;
    
}

.profileSection {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    padding-left: 2rem;
}

.proUserNameDiv {
    display: flex;
    column-gap: 1rem;
}

.profileImg {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}


.userNameEmailDiv {
    display: flex;
    flex-direction: column;
}

.userNameSpan {
    font-size: 1.1rem;
    font-family: roboto;
}

.emailSpan {
    font-size: 0.9rem;
    opacity: 80%;
    font-family: allerta;
}

.bioDiv {
    display: flex;
    justify-content: start;
}

.bioSpan {
    font-family: allerta;
    font-size: 1rem;
    opacity: 90%;
}

.profileOptionsList {
    list-style-type: none;
    padding-left: 0rem;
    margin-bottom: 0;
}

.profileOption {
    width: 100%;
    height: 4rem;
    padding-left: 2rem;
    display: flex;
    align-items: center;
    column-gap: 0.8rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.299);
    cursor: pointer;
}

.profileIcons {
    width: 1.5rem;
    height: 1.5rem;
}

.options {
    font-size: 1rem;
    font-family: roboto;
}

.profile {
    background-color: #26c492;
    color: #DCF6F3;
}

.active {
    background-color: #26c492;
    color: #DCF6F3;
}

.notes{
    background-color: #26c492;
    color: #DCF6F3;
}










/* responsive codes */

@media screen and (max-width:1500px) {
    .headerContainer {
        column-gap: 10rem;
    }
}

@media screen and (max-width:1200px) {
    .headerContainer {
        column-gap: 8rem;
    }

    .headerOptionsDiv {
        column-gap: 3.5rem;
    }

    .option {
        font-size: 0.8rem;
    }
}


@media screen and (max-width:992px) {
    .headerOptionsDiv{
        display: none;
    }
   
    .headerResponsiveDiv{
        display: block;
    }
    .headerContainer {
        column-gap: 12rem;
    }
    .responsiveOptionL{
        display: none;
    }
    .responsiveOptionS{
        display: none;
    }
}

@media screen and (max-width:768px) {
    .headerOptionsDiv{
        display: none;
    }
   
    .headerResponsiveDiv{
        display: block;
    }
    .headerContainer {
        column-gap: 7rem;
    }
}

@media screen and (max-width:600px) {
    .headerOptionsDiv{
        display: none;
    }
    .headerBtnDiv{
        display: none;
    }
    .headerResponsiveDiv{
        display: block;
    }
    .headerContainer {
        column-gap: 7rem;
    }
}

@media screen and (max-width:410px) {}